body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#d6ead2, #b8d9b1);
}

main {
  margin-top: 80px;
}

/* Navbar */

.nav-container {
  max-width: 1500px;
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 clamp(1rem, 3vw, 2rem);
  box-sizing: border-box;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background:#1b5e20;
    box-shadow:0 2px 10px rgba(0,0,0,.12);
    z-index:1000;
    padding:.8rem 0;
}

nav a {
  color: white;
  text-decoration: none;
  transition: .2s;
}

nav a:hover {
  color: #b8d9b1;
}

.logo-nav {
  width: 200px;
}

.menu{
    display:flex;
    gap:clamp(.8rem,2vw,2rem);
}

/* Buscador */

.search-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.search-input {
  width: min(700px, 90%);
  padding: .7rem .8rem;
  border: 1px solid #b7d7b1;
  font-size: .8rem;
  outline: none;
  transition: .2s;
}

.search-input:focus {
  border-color: #1b5e20;
}

/* Cards */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.card {
  border: 1px solid rgba(0, 0, 0, .05);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .06);
  gap: 1 rem;
  background-color: white;
  border-radius: 8px;
  margin: 1rem 0;
  padding: 1rem;
  width: 300px;
  transition: .25s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.scientific-name {
  font-style: italic;
  font-size: .95rem;
  color: #555;
}

.subtype {
  font-size: .8rem;
  color: #777;
}

/* Conservation status */

.status {
  display: inline-block;
  padding: .3rem .7rem;
  border-radius: 999px;
  font-size: .75rem;
  font-weight: 600;
  align-self: center;
}

.preocupacion-menor {
  background-color: #1b5e20;
  color: white;
}

.casi-amenazado {
  background-color: #f9a825;
  color: white;
}

.vulnerable {
  background-color: #ef6c00;
  color: white;
}

.en-peligro {
  background-color: #c62828;
  color: white;
}

.en-peligro-critico {
  background-color: #9c0f0f;
  color: white;
}

.especie-invasora {
  background-color: #464347;
  color: white;
}